SECRET_KEY=your_secret_key_here
DEBUG=True
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=startuplens_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
