# Django Settings
SECRET_KEY=WLWZUMKEtn96X-BCjtGtLZUUBIUpoH_A716pPION4g5YHFAUP-gsrxuvHmN1tTlUrZw
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database Configuration
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=startuplens_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Media & Static
MEDIA_URL=/media/
STATIC_URL=/static/

# Time Zone
TIME_ZONE=Asia/Kolkata